@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Pacifico&family=Permanent+Marker&family=Poppins:ital,wght@0,200;0,300;0,400;1,400;1,500&family=Rubik+Gemstones&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Montserrat:ital,wght@0,100;0,500;0,600;0,700;1,600&family=Pacifico&family=Permanent+Marker&family=Rubik+Gemstones&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(59deg, rgb(2, 0, 36) 8%, rgb(72, 89, 102) 62%, rgb(162, 78, 245) 78%);
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
nav h1 {
  margin-left: 50px;
  font-size: 35px;
  color: white;
}
nav ul {
  align-items: center;
}
nav ul li:nth-last-child(1) {
  margin-right: 60px;
}

.name {
  text-align: center;
  color: white;
}

.container {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  position: relative;
  background-color: rgb(255, 255, 255);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.container .child {
  position: absolute;
  background-color: rgb(166, 30, 235);
  height: 100%;
  width: 50%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  -webkit-animation: bardown 30s forwards;
          animation: bardown 30s forwards;
}

@-webkit-keyframes bardown {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes bardown {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
header {
  width: 90%;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  color: rgb(179, 173, 173);
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.question-area {
  background-color: rgb(0, 0, 0);
  color: white;
  width: 80%;
  border-radius: 15px;
  margin: auto;
  padding: 10px;
  text-align: center;
  margin: 20px auto;
}

.suggestions-area {
  display: grid;
  width: 97%;
  margin: 30px auto;
  grid-template-columns: auto auto;
  gap: 15px;
}

.suggestion {
  display: flex;
  background-color: #ffffff;
  padding: 30px 7px;
  text-align: center;
  position: relative;
  border-radius: 10px;
}
.suggestion input[type=radio]:checked + label {
  position: absolute;
  background-color: #E5B8F4;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  color: white;
}
.suggestion input {
  display: flex;
  align-self: flex-start;
  visibility: hidden;
}
.suggestion label {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  width: 100%;
  z-index: 30;
  color: rgb(0, 0, 0);
  transition: color 0.5s;
}

.rlt-effect {
  position: relative;
}

.rlt-effect::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0;
  z-index: 10;
  border-radius: 10px;
  transition: width 0.5s;
  background-color: #E5B8F4;
}

.rlt-effect:hover::before {
  width: 100%;
}

.rlt-effect:hover label {
  color: white;
}

.footer {
  display: flex;
  justify-content: space-around;
  width: 80%;
  background: linear-gradient(333deg, rgb(232, 243, 214) 27%, rgb(235, 244, 210) 32%, rgb(252, 249, 190) 39%, rgb(255, 220, 169) 89%);
  font-family: "Clicker Script", cursive;
  padding: 15px;
  margin: auto;
}
.footer .radios {
  display: flex;
  margin-right: 10px;
  align-self: center;
}
.footer .radios .span {
  display: block;
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  margin-right: 10px;
}
.footer .radios .on {
  background-color: rgb(164, 67, 239);
}
.footer .taiming {
  display: flex;
  align-self: center;
  color: #579BB1;
  font-weight: bolder;
  font-size: 30px;
}
.footer .btn {
  font-size: 18px;
  text-transform: capitalize;
  padding: 15px 80px;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  background-color: #579BB1;
  color: white;
}

ul {
  display: flex;
}
ul li {
  padding: 5px;
  margin-right: 10px;
}

.reselt_area {
  background-color: rgb(0, 0, 0);
  width: 80%;
  max-height: 70vh;
  overflow: auto;
  border: 10px solid grey;
  margin: 10px auto;
  text-align: center;
  line-height: 1.9;
  padding: 10px;
}
.reselt_area h2 {
  color: greenyellow;
  font-weight: bolder;
  font-size: 24px;
}
.reselt_area span {
  margin: 0 auto;
}
.reselt_area div {
  background-color: bisque;
  padding: 20px;
  margin: 20px;
  color: white;
}

#particles-js {
  height: 80%;
}
#particles-js div {
  width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}
#particles-js div input {
  display: block;
  width: 40%;
  padding: 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#particles-js div input:focus {
  padding-left: 20px;
  outline-style: none;
}
#particles-js div a {
  width: 20%;
}
#particles-js div a button {
  width: 100%;
  padding: 20px;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #ADA2FF;
  color: white;
  font-weight: bolder;
  font-size: 20px;
  cursor: pointer;
}

.rules {
  visibility: hidden;
  position: absolute;
  top: 35%;
  left: 50%;
  display: block;
  width: 40%;
  margin: auto;
  padding: 20px;
  line-height: 1.9;
  background-color: white;
  color: black;
  transform: translate(-50%, -50%);
  overflow: auto;
  border-radius: 10px;
}
.rules li {
  color: #58287F;
}
.rules h2 {
  text-align: center;
  color: #ADA2FF;
}

.btn-go {
  display: none;
  padding: 20px;
  width: 20%;
  border: none;
  border-radius: 10px;
  background-color: #ADA2FF;
  color: white;
  font-weight: bolder;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}/*# sourceMappingURL=main.css.map */